<div class="post-wrapper" *ngIf="posts.length > 0 ">
  <mat-card *ngFor="let post of posts">
    <img src="{{post.image}}" />
    <h4>{{post.title}}</h4>
    <p>{{post.content}}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit-post', post.id]" routerLinkActive="accent">Edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-card>
</div>
<div class="post-wrapper" *ngIf="posts.length === 0">
  <p body-1 class="center-text">Sorry no posts available</p>
</div>
