.center-text {
  text-align: center;
}

.mat-card {
  display: flex;
  padding: 1rem;
  flex-direction: column;

  @media(min-width: 40rem) {
    width: 50%;
  }

  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}
