<div class="card-wrapper" [ngClass]="{'open':formIsActive}">
  <mat-card *ngIf="formIsActive">
    <form [formGroup]="form" (submit)="onCreatePost()">
      <button mat-button color="primary" (click)="toggleCreatePostsForm()">Close form</button>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="title" placeholder="Title">
        <mat-error *ngIf="form.get('title').invalid">Title required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="category" placeholder="Category">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="tag" placeholder="Tag">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="content" placeholder="Create a post"></textarea>
        <mat-error *ngIf="form.get('content').invalid">Content required</mat-error>
      </mat-form-field>
      <button type="button" mat-stroked-button color="accent" (click)="uploadImage.click()">Upload image</button>
      <input type="file" name="image" #uploadImage (change)="onImageUpload($event)">
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" [alt="form.value.title" ]>
      </div>
      <button mat-raised-button color="primary" type="submit">Add Post</button>
    </form>
  </mat-card>
</div>
