<h2 color="primary">{{ title }}</h2>
<mat-card *ngIf="formIsActive">
  <button mat-button color="primary" (click)="onClickAddPostBtn()">Close form</button>
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="enteredPostTitle" placeholder="Title">
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="enteredCategory" placeholder="Category">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="enteredTag" placeholder="Tag">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="enteredPostContent" placeholder="Create a post"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onCreatePost()">Add Post</button>
</mat-card>
<button mat-raised-button color="primary" (click)="onClickAddPostBtn()" *ngIf="formIsActive === false">Add Post</button>
